[2018-02-19 04:16] estahn opened #1 "Swap logrus with zap"
https://github.com/uber-go/zap

[2018-02-19 04:20] estahn opened #2 "Add a metric to count scrape failures"
Add a metric to count scrape failures. In cases, we fail to scrape PHP-FPM for metrics (e.g. due to too many requests) we should expose this situation.

[2018-02-21 12:27] estahn opened #3 "Add documentation for running on Kubernetes"

[2018-02-22 01:54] estahn opened #4 "Expose PHP-FPM Pool metrics"
In order to drill further down how PHP-FPM behaves on Kubernetes it would be good to look at the following metrics:

* Memory consumption per process
* Age per process
* Requests served per process

[2018-02-22 05:15] #2 closed

[2018-02-24 13:29] estahn opened #6 "Report correct idle/active/total process numbers"
It appears PHP-FPM is sporadically not reporting the correct numbers for idle/active/total number of processes. Since we have a list of processes with the details we can calculate those numbers ourselves.

**References**
* https://stackoverflow.com/questions/48961556/can-active-processes-be-larger-than-max-children-for-php-fpm
* https://bugs.php.net/bug.php?id=76003

[2018-02-25 10:50] #6 closed

[2018-02-25 10:50] #4 closed

[2018-02-25 23:59] estahn opened #8 "Report actual PID"
We currently reporting a hash based on process `StartTime` and `PID` as PID. The reason behind this is to uniquely identify processes across multiple containers and on container restarts.

As this might be confusing to some we will change this as follow:

- Rename label `pid` for all `phpfpm_process_*` to `hash`
- Label `phpfpm_process_*` metrics with `pid` and `hash`

[2018-02-27 04:44] estahn opened #9 "Unknown states and Inconsistent processes error message"
[code]

[2018-02-27 04:46] estahn opened #10 "json: cannot unmarshal number"
[code]

[2018-02-27 20:33] insekticid opened #12 "Grafana dashboard"
Hi,
I am looking for Grafana Dashboard config for your metrics. Something like https://grafana.com/dashboards/3901

[2018-02-28 00:33] estahn commented on #12
@insekticid We're looking at releasing one fairly soon. We're still working out 1 or 2 issues. I will attach a dev version and it currently looks like this:

![fireshot capture 3 - grafana - kubernetes php-fpm_ - https___grafana k8s hipages com au_](https://user-images.githubusercontent.com/362174/36763045-72729a8c-1c7a-11e8-9fd1-1462e2159f76.png)
[Kubernetes PHP-FPM-1519777730526.json.zip](https:

[2018-02-28 01:07] estahn commented on #10
This seems to be related to a bug in PHP-FPM:

* https://bugs.php.net/bug.php?id=62382
* https://serverfault.com/questions/624977/huge-request-duration-value-for-a-particular-php-script

Setting `request_terminate_timeout = 300` in PHP-FPM should fix it.

[2018-02-28 02:29] estahn commented on #9
Release with v0.2.1

[2018-02-28 02:29] #9 closed

[2018-02-28 05:01] estahn commented on #8
Released in v0.3.0.

[2018-02-28 05:01] #8 closed

[2018-02-28 15:09] insekticid commented on #12
you are GOD!! will test it today

On Wed, 28 Feb 2018 at 01:33, Enrico Stahn <notifications@github.com> wrote:

[2018-02-28 23:44] estahn opened #14 "Expose metric `process duration`"
As seen in #10 PHP-FPMs process duration reporting is faulty at times. To monitor the effects of long-running processes and `request_terminate_timeout` this metric will be added.

[2018-02-28 23:46] estahn opened #15 "Tests, tests, tests..."
- [ ] Look into how to test with the Prometheus golang lib
- [ ] Achieve >80% code coverage

[2018-03-01 00:02] #14 closed

[2018-03-01 05:59] estahn commented on #12
@insekticid I have published the updated dashboard here: https://grafana.com/dashboards/4912

It's working based on v0.4.0 which contains some additional metrics.

You most likely will need to remove `hip_new` from the queries. It's related to our branch deploy setup but I'm trying to make it more general.

The dashboard also assumes the name of your php-fpm container is `fpm` (see queries). I wil

[2018-03-01 22:58] estahn commented on #12
@insekticid Will close this issue. Feel free to reopen it with questions/suggestions.

[2018-03-01 22:58] #12 closed

[2018-03-05 00:10] estahn opened #17 "Request Duration by process hangs if time-window is too large"
If the time window is too large the dashboard receives too many events and starts to hang.

![image](https://user-images.githubusercontent.com/362174/36952505-2ad738a6-2065-11e8-947f-997ea902f634.png)

[2018-03-12 15:28] herb123456 opened #19 "Can not connect to unix socket file"
[code]

then test using curl output

[code]
just because uri.Hostname() and uri.Port() is empty when address is unix socket file path at [phpfpm/phpfpm.go Line160](https://github.com/hipages/php-fpm_exporter/blob/master/phpfpm/phpfpm.go#L160)

I will send a pull request for this issue later.

[2018-03-12 23:07] estahn opened #21 "Make status path configurable"

[2018-03-13 22:36] estahn commented on #19
@herb123456 Unix sockets were not a priority for us, so thanks a lot for your pull request.

Looking at the code we probably need to find a way to integrate #21

Thoughts?

[2018-03-14 15:55] herb123456 commented on #19
that's ok. I will send another pull request a few days later.

[2018-03-16 13:09] bsacharski opened #22 "malformed MIME header line: Primary script unknown"
I've wanted to add this exporter to have FPM metrics, however it would seem that either I have configured the fpm incorrectly, or the internal CGI client does not send some data.

When trying to scrape the metrics I get:
[code]

My files:
api.conf (pool file)
[code]

docker.conf (another "pool" file)
[code]

php.fpm.conf:
[code]

When I use nginx, I can see the status page correctly:
[code]

[2018-03-16 22:35] estahn commented on #22
Hi Sacharski,

The path to access the PHP-FPM metrics is currently hardcoded in
php-fpm_exporter to `/status`. You have it set to `/fpm-status` in your
PHP-FPM pool config.

We have a pull request open which will make it configurable. I will have a
look at it later today.

Hope that helps.

Enrico

On 17 Mar. 2018 12:09 am, "Sacharski Bartłomiej" <notifications@github.com>
wrote:

I've wanted to a

[2018-03-18 01:31] estahn commented on #22
@bsacharski This issue has been fixed with **v0.5.0**

[2018-03-18 01:31] #22 closed

[2018-03-18 01:31] estahn commented on #21
This issue has been fixed with **v0.5.0**

[2018-03-18 01:31] #21 closed

[2018-03-18 01:32] estahn commented on #19
@herb123456 This issue has been fixed with **v0.5.0**. Thanks again for your pull request.

[2018-03-18 01:32] #19 closed

[2018-04-27 05:03] #1 closed

[2018-04-30 02:37] #3 closed

[2018-05-06 02:10] #10 closed

[2018-05-07 01:16] #15 closed

[2018-05-23 20:23] kustodian opened #24 "Error scraping PHP-FPM: invalid character 'c' after object key:value pair"
From time to time, and usually two times in a row, we get the following error:
[code]
And a few times we got this error (we don't have the full debug line, because debug wasn't enabled then):
[code]
Looking at the json, I would say that it is correct, so I have no idea what could be the issue.

[2018-05-24 03:01] xiaosadexiaohai opened #25 "Sock can't connect"
![image](https://user-images.githubusercontent.com/18409309/40462251-c25e4fdc-5f41-11e8-916f-203ff47a1b67.png)

[2018-05-24 09:21] #25 closed

[2018-05-24 09:40] estahn commented on #25
@xiaosadexiaohai I was just looking into it. Has this been resolved?

[2018-06-07 11:16] XooR opened #26 "json: cannot unmarshal number"
I get constantly this message from exporter:

[code]

I have tried upgrading `php` and `php-fpm`. It persist from 5.5 to 7.0 versions of PHP. I also tried setting `request_terminate_timeout = 300` but that didn't help.

It's same problem as in issue: [issue-10](https://github.com/hipages/php-fpm_exporter/issues/10).

[2018-06-24 12:02] hjrnunes opened #27 "fcgi: invalid header version"
When I call

```php-fpm_exporter get --phpfpm.scrape-uri tcp://127.0.0.1:49112/status```

I get this:

[code]

I have nginx reverse-proxying in front of php-fpm. Does php-fpm_exporter need to connect directly to php-fpm?

[2018-06-24 21:52] estahn commented on #27
@hjrnunes Yes, it does connect directly to PHP-FPM.

[2018-06-26 23:43] estahn opened #29 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-06-26 23:49] #29 closed

[2018-06-26 23:57] estahn commented on #26
@XooR Thanks for your help in fixing this. It's released now.

[2018-07-24 15:22] MMarco94 opened #30 "Error while connecting using linux socket"
Hi, I'm trying to colect php-fpm metrics using this command: `php-fpm_exporter get --phpfpm.scrape-uri unix:/var/run/php/php7.2-fpm.sock;/status`

Unfortunately, I get the following error:
`ERRO[0000] malformed MIME header line: Access to the script '' has been denied (see security.limit_extensions)`
Is there any way to use this software without removing the `security.limit_extensions` option on t

[2018-08-30 23:27] #27 closed

[2018-09-06 03:00] estahn commented on #24
@kustodian Thanks for keeping this open.

[2018-09-06 03:08] estahn opened #31 "feat: Opcache metrics"
...

Looking at [fpm_main.c](https://github.com/php/php-src/blob/master/sapi/fpm/fpm/fpm_main.c) it appears we cannot send PHP code directly via fcgi. PHP-PFM will need to have access to a PHP file that exposes the metrics.

### Functions

* `opcache_get_configuration()`
* `opcache_get_status()`

### References

* https://tideways.com/profiler/blog/fine-tune-your-opcache-configuration-to-avoid-cac

[2018-09-21 14:39] rdglinux opened #33 "Grafana Dashboard does not filter/get variable "Branch""
Hi all!

I installed an container "php-fpm_exporter" as sidecar in my Kubernetes Deployment for my php application. The /metrics expose correctly and send to prometheus server.

![selecao_223](https://user-images.githubusercontent.com/12894517/45887560-66100180-bd92-11e8-8557-4b7edff7b40e.png)

I added grafana dashboard, but the variable "Branch" does not appear correctly, show only "None".

![sel

[2018-09-24 06:10] estahn commented on #33
@rdglinux This is probably due to `branch` being something that custom to our cluster. You can remove that if you like.

Does that answer your question?

[2018-09-25 18:50] rdglinux commented on #33
@estahn thanks for your reply!

I chose building my own dashboard, when to finalize i go publish to comunity and i can send a PR for your repository if you accept.

[2018-09-29 16:39] #30 closed

[2018-10-22 07:39] ZalemCitizen opened #34 "ERRO[0000] invalid character 'N' looking for beginning of value"
Hello,

I can't scrape on a unix socket (running commands as root) :

**> ERRO[0000] invalid character 'N' looking for beginning of value**

where there is no pb when using a fci port :

Can't figure what's going on.

[2018-10-22 07:58] ZalemCitizen commented on #34
Adding a piece of info :
Using cgi-fcgi command, I can reach the /status on same unix socket, with same variables your scraper is using :

[2018-11-06 15:12] kustodian commented on #24
My colleague figured out that the issue with this is the Unicode URLs which are being reported, so he will probably fix it in the next few weeks.

[2018-11-12 04:39] #31 closed

[2018-11-16 18:39] kustodian commented on #24
We were a little busy, but we will fix it in the next few weeks.

[2018-11-21 15:41] herb123456 commented on #34
what is your environment?

os?php version?

[2018-11-21 15:43] ZalemCitizen commented on #34
Ubuntu 16.04 lts
PHP 7.1

[2018-11-22 09:55] yuriipolishchuk-finsight commented on #24
Just caught the same issue:
[code]

[2018-11-29 08:49] kustodian commented on #24
It's a bug in `php-fpm` status page. It doesn't correctly escape double quotes in the `request uri`, so the JSON format isn't correct. My colleague @XooR is currently trying to solve this bug by using the XML status page, instead because it doesn't have that bug.

[2018-11-29 09:50] estahn commented on #24
@kustodian Do you have an example output of the JSON?

[2018-11-29 10:05] kustodian commented on #24
We modified the exported to dump the actual json file, so here you go:

[exporter-php-fpm-974880268.log](https://github.com/hipages/php-fpm_exporter/files/2628572/exporter-php-fpm-974880268.log)

I just renamed the domain name of the host, everything else is intact.

[2018-11-29 10:05] kustodian commented on #24
If you have a suggestion how fix this issue easier, without using XML as the input, I'm all ears :)

[2018-11-29 10:38] estahn commented on #24
Yeah, so looking at the php-fpm source it doesn't seem to escape it properly.

https://github.com/php/php-src/blob/master/sapi/fpm/fpm/fpm_status.c#L396

I was thinking we could just fix the JSON string via regex.

Example regex: `,"request uri":"(.*?)","content length":`

[2018-11-29 13:31] estahn commented on #24
@kustodian @XooR Please see #35 and let me know your thoughts.

[2018-11-29 14:50] kustodian commented on #24
I was also thinking that, but we'll see if it's easy to fix it by just switching to XML, because it's cleaner.

[2018-12-02 23:44] estahn commented on #24
@kustodian No worries. Have you had any luck with XML?

[2018-12-03 15:10] kustodian commented on #24
We made some progress, but XML class is a lot different from JSON, so we need to make more changes.

I just realized that it's best that you merge this one so that it fixes the issue and build a new release. When we implement XML scraping, we can easily revert this commit if it won't be needed any more.

[2018-12-10 09:42] dbzmelvin commented on #34
i have the same problem, Ubuntu 16.04 PHP 7.1

[2018-12-29 09:19] estahn commented on #24
@kustodian I have released a possible fix with https://github.com/hipages/php-fpm_exporter/releases/tag/v0.5.3 ... Please let me know if this is resolved.

[2018-12-29 09:19] #24 closed

[2018-12-29 09:53] ZalemCitizen commented on #34
Hello estahn, great news.
I'm sorry I don't know the command to make a build from your sources.

[2018-12-29 13:33] kustodian commented on #24
Thanks @estahn. We'll try it out and get back to you if it doesn't resolve the issue.

[2018-12-30 02:14] estahn commented on #34
@ZalemCitizen I'm not sure what you mean. You can use the last tagged version (**v0.5.3**).

[2018-12-30 23:07] estahn commented on #34
@ZalemCitizen Thanks, I have missed that the artefacts weren't deployed. CircleCI [failed](https://circleci.com/gh/hipages/php-fpm_exporter/216) due to the deploy step not being on go 1.11.

I have rectified this now and you will find the assets attached to the release.

[2018-12-30 23:09] estahn opened #38 "Bump CircleCI deploy step to go 1.11"
goreleaser currently fails due to CircleCI running with go 1.10 and using go modules.

[2018-12-30 23:09] estahn opened #39 "Use renovate to update dependencies automtically"
https://renovatebot.com/

[2018-12-30 23:14] estahn commented on #38
Fixed in https://github.com/hipages/php-fpm_exporter/commit/d96eb71d769d448d933ee1208878ac8ed26a962f

[2018-12-30 23:14] #38 closed

[2018-12-30 23:35] estahn commented on #39
Completed via https://github.com/hipages/php-fpm_exporter/blob/master/renovate.json

[2018-12-30 23:35] #39 closed

[2018-12-31 10:11] ZalemCitizen commented on #34
Ok, I've run my tests and it seems there is still a problem with UNIX socket :

With php-fpm_exporter (ran as root), I get :

    $ ./php-fpm_exporter version
    php-fpm_exporter 0.5.3, commit 8b64a58900a3a599ce1c0086951e478998dc6b3e, built at 2018-12-30T22:59:52Z
    $ ./php-fpm_exporter get --phpfpm.scrape-uri unix:///run/php/php7.1-fpm-www.sock;/status --log.level debug
    ERRO[0000] Pool[uni

[2019-01-02 20:09] zhil opened #43 "Exporter do not work from docker container with host socket"
I have php7.2-fpm on  /run/php/php7.2-fpm-www.sock

test command works just fine
[code]
![image](https://user-images.githubusercontent.com/981783/50610167-aa0aba80-0eda-11e9-9c1a-701f1639d628.png)

tried a couple different approaches to run exporter from docker, but failed

using volume + docker-container up
[code]
got
![image](https://user-images.githubusercontent.com/981783/50610218-d32b4b00-0ed

[2019-01-03 02:02] estahn commented on #43
@zhil Please try `PHP_FPM_SCRAPE_URI: "unix:///run/php/php7.2-fpm.sock;/status"` and let me know if that resolves your issue.

[2019-01-03 02:18] estahn commented on #34
@ZalemCitizen I just tested it and the issue you are experiencing is shell related. The shell will interpret the semicolon as the ending of the command, hence you will need to either escape or quote argument.

This should give you what you want:
[code]

[2019-01-03 08:46] ZalemCitizen commented on #34
Damn!
Many thanks for this simple trick, it works :

    $ ./php-fpm_exporter get --phpfpm.scrape-uri "unix:///run/php/php7.1-fpm-www.sock;/status"
    Address:                unix:///run/php/php7.1-fpm-www.sock;/status
    Pool:                   www
    Start time:             Mon, 31 Dec 2018 10:17:37 +0100
    Start since:            257275
    Accepted connections:   4674
    Listen Queue:

[2019-01-03 09:09] #34 closed

[2019-01-11 17:13] zhil commented on #43
ok, I have got another issue. As soon, as you will restart php7.2-fpm service - exporter is not able to connect to it any more
[code]

I supposed, that its some kind of of docker issue, but socket do exists in container.
[code]

@estahn can you please give me any ideas about further debug of this issue?

[2019-01-12 22:02] estahn commented on #43
@zhil I can have a look on Monday. Just out of curiosity why do you use
socket over tcp?

Enrico

On Sat, 12 Jan 2019 at 4:13 am, zhil <notifications@github.com> wrote:

--
Enrico Stahn
Head of IT/DevOps
*P*02 8396 1300
Join our team <http://www.hipagesgroup.com.au/careers/> [image:
hipages.com.au]
[image: hipages.com.au] <https://www.youtube.com/watch?v=sJQX3JqSjr8>

This email and any attachment

[2019-01-13 14:51] zhil commented on #43
@estahn thanks for your help.
We have nginx + php-fpm on the same server and as I know sockets are slightly faster
https://stackoverflow.com/questions/257433/postgresql-unix-domain-sockets-vs-tcp-sockets/257479#257479

[2019-01-14 21:07] zhil commented on #43
@estahn thanks a lot for your help, it works!

[2019-01-14 21:07] #43 closed

[2019-01-25 06:36] anishvarghese opened #46 "Can not Connect latest version using socket"
Getting this issue while connect using socket

root@php:/opt/phpexporter1.0.0# ./php-fpm_exporter server --phpfpm.scrape-uri unix:///var/run/php5-fpm.sock;/status

[code]

[2019-01-25 06:38] estahn commented on #46
@anishvarghese Can you please run it like this:

[code]

[2019-01-25 06:40] anishvarghese commented on #46
What a great support Sir,
Getting lot of metrics  but showing this error
root@php:/opt/phpexporter1.0.0# ./php-fpm_exporter server --phpfpm.scrape-uri 'unix:///var/run/php5-fpm.sock;/status'
INFO[0000] Starting server on :9253 with path /metrics
ERRO[0004] Inconsistent active and idle processes reported. Set `--fix-process-count` to have this calculated by php-fpm_exporter instead.

[2019-01-25 06:42] anishvarghese commented on #46
root@php:/opt/phpexporter1.0.0# ./php-fpm_exporter server --phpfpm.scrape-uri 'unix:///var/run/php5-fpm.sock;/status' --phpfpm.fix-process-count

[2019-01-25 06:43] estahn commented on #46
I should probably change this to a `warning` instead of an `error`.

See details here https://github.com/hipages/php-fpm_exporter#why---phpfpmfix-process-count

[2019-01-25 06:49] #46 closed, assigned to estahn

[2019-02-27 04:10] estahn opened #50 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-04-28 14:29] AmjadHussainSyed opened #53 "adding more pools getting 500 error"
Hi,

i have added two pools using server command and i get 500 error.
**`server returned error: HTTP/1.1 500 Internal Server Error`**

command:
[code]

Note adding 1 pool works fine.

[2019-05-05 04:41] #50 closed

[2019-06-18 17:37] wsilva opened #60 "Can't connect to unix socket file"
I am having a bad time trying to run it connecting to the unix socket file.

The log whe I try to scrape:

[code]

I am using version `1.0.0` and I have already checked https://github.com/hipages/php-fpm_exporter/issues/19 but with no success.

To reproduce it I have forked the project and pushed the changes to different branch so if everything runs fine I can submit a pull request with the unix s

[2019-06-18 18:01] wsilva commented on #60
I have also tried using `/tmp` in case it has relation to permission/ownership of the socket file no success either

[2019-06-18 18:08] wsilva commented on #60
Looks like the process started with the right parameters:

[code]

I have also tried using env vars instead of custom startup command:

[code]

[2019-06-19 10:40] wsilva commented on #46
Can I reopen?

I am running version 1.0.0  from the exporter, php-fpm 5.6.38 both running locally.

PHP version:

[code]

Exporter version:

[code]

Running the server using `www-data` user:

[code]

Trying to scrape with:

[code]

Trying to use `get`:

[code]

The `php-fpm` proccess

[code]

[2019-06-21 10:12] wsilva commented on #60
Was not able to run with docker but able to run both process in the same machine, so I asked to reopen: https://github.com/hipages/php-fpm_exporter/issues/46

[2019-06-27 23:53] estahn commented on #53
@AmjadHussainSyed Apologies in not getting back sooner to you. I will schedule some time to look at it.

[2019-07-14 11:45] AmjadHussainSyed commented on #53
@estahn thank you

[2019-07-19 08:27] Gravelandmp3 commented on #60
i have the same issue :(

[2019-07-25 10:29] goldstrike77 opened #63 "Error scraping PHP-FPM: unexpected EOF"
I want to monitor my php-fpm but shows the following errors, really need your help.

PHP versions from 5.6 to 7 are all shown in this errors.
pm.status_path = /status

php-fpm_exporter get --phpfpm.scrape-uri tcp://127.0.0.1:9000/status --log.level debug
**ERRO[0000] unexpected EOF**
DEBU[0000] Updated 1 pool(s) in 1.242031ms
Address:             	tcp://127.0.0.1:9000/status
Pool:
Start time:

[2019-07-26 03:56] goldstrike77 commented on #63
sorry, my bad, I set the wrong parameters of listen.allowed_clients.

[2019-07-26 03:56] #63 closed

[2019-09-04 08:05] risyasin commented on #53
Exactly this error and I have metrics in Error message:
[code]

I am using php 7.3.9 on ubuntu server 18.04 on 3 different instances. My startup line:
[code]

[2019-09-04 08:17] risyasin commented on #53
Well I figured out that pool names are the in all FPM instances since they are running on different machines.  Metrics names are missing a host record only `pool` as the label hence the error message give enough clue for this. I have changed all my pool names across all app servers (php-fpm instances)  Now it runs smooth. Here is what I get:

[code]
Just a small suggestion, It can be really useful

[2019-09-24 09:20] #60 closed

[2019-09-27 10:31] runningman84 opened #66 "phpfpm_process_request_duration value too high"
My expr for my alarm looks like this:
[code]
I have three php fpm application, the first one is serving live traffic the other two applications are not live yet. It looks like the phpfpm_process_request_duration value works just fine for the firstapplication (real user traffic is handled here). The other applications just run idle but their phpfpm_process_request_duration value is rising steadily.

[2019-09-27 13:28] estahn commented on #66
@runningman84 Are you able to send a screenshot? The metric is a gauge, so it should go up and down.

[2019-09-30 13:35] autarchprinceps commented on #66
What we are seeing, is a permanently increasing duration, with a constant requests value.
![grafik](https://user-images.githubusercontent.com/239063/65883652-be131800-e397-11e9-8f53-8f842bdd38e8.png)
![grafik](https://user-images.githubusercontent.com/239063/65883670-c3706280-e397-11e9-814c-50cc22063bdf.png)

[2019-09-30 15:31] estahn commented on #66
@autarchprinceps Thanks. Can you try and get the raw values from either the `/status` endpoint or via `php-fpm_exporter get --phpfpm.scrape-uri 127.0.0.1:9000` (you may need to adjust the endpoint).

[2019-09-30 23:14] estahn commented on #66
@autarchprinceps It's indeed weird behaviour.

1. What version of PHP are you using (`php -v`)?
2. What version of `php-fpm_exporter` are you using?

[2019-10-02 11:31] autarchprinceps commented on #66
[code]
[code]
[code]

I think these are the things you wanted to have.

[2019-12-08 12:48] #66 closed

[2019-12-08 13:01] runningman84 commented on #66
the issue is still present...

[2019-12-15 12:16] estahn commented on #53
@risyasin @Gravelandmp3 @AmjadHussainSyed I can see how running a single exporter to collect metrics across multiple php-fpm instances on single/multi-host environments can be problematic? We're not experiencing this issue as Kubernetes provides an abstraction for this.

I'm thinking about how to best solve this. Some sort of host-label would make sense I guess.

How about including the `scrape-ur

[2019-12-17 14:25] risyasin commented on #53
`scrape-uri` is perfect. Even if several fpms run on same host then we need to provide different ports since pool name already covered as label.

[2019-12-17 16:48] VoidAndAny opened #68 "Not an issue - Thanks + Ansible role"
Thanks for your job, this exporter is far more powerfull then the one listed on Prometheus exporters page...
For your information, I just published an Ansible role the deploy your exporter.
https://github.com/umanit/ansible-prometheus_phpfpm_exporter

[2019-12-19 10:26] Vandersteen opened #69 "Using with k8s"
Dear, first of all. You guys did a really nice job here ! Thanks for making it available.

I was hoping you could give me some pointers on how I best use this exporter in k8s.

I have an application that has the following setup:

* A k8s service pointing towards a deployment
* A k8s deployment
* Each of these deployment's pods runs a php-fpm and a nginx container.

Using this exporter, should I ad

[2019-12-19 12:13] estahn commented on #69
Hi @Vandersteen, we're running php-fpm_exporter as a sidecar. Every pod has a php-fpm_exporter with the following environment variables being set:

[code]

We have to run Apache inside the pod, but we're looking at removing this constriction atm. Imo you should be able to only have `php-fpm` and `php-fpm_exporter` inside the pod and run ingress nginx (https://kubernetes.github.io/ingress-nginx/use

[2019-12-19 12:14] estahn commented on #68
@VoidAndAny Thanks. Do you mind if I add the link to our `README.md`?

[2019-12-23 16:38] VoidAndAny commented on #68
As you want and thanks

[2019-12-31 06:54] guaychou opened #71 "Grafana dashboard in docker swarm"
Do you have template Grafana dashboard in docker swarm ?

[2020-01-15 10:02] IppX commented on #12
Hi and thanks for this exporter and dashboard they're very useful.

I came across this issue while trying to get the dashboard to work.
I slightly adapted it to remove the dependency to `branch`, using the `app` variable in queries which is the standard naming convention of deployment/replicaset/pods when using helm for example.
It still assumes that the php containers are suffixed with `-php` tho

[2020-01-15 15:21] shipilovds commented on #46
Hello!
I have the same issue, but with tcp
`$ docker exec -it php-fpm_exporter ./php-fpm_exporter get --phpfpm.scrape-uri "tcp://backend:9001/status"
ERRO[0000] Pool[tcp://backend:9001/status]: Access denied.
ERRO[0000] invalid character 'A' looking for beginning of value
Address:                tcp://backend:9001/status
Pool:
Start time:             Mon, 01 Jan 0001 00:00:00 +0000
Start since:

[2020-01-20 22:47] estahn commented on #69
@Vandersteen I will close this issue. Feel free to re-open it if you have further questions.

[2020-01-20 22:47] #69 closed

[2020-01-20 22:48] estahn commented on #71
@guaychou We don't use docker swarm. Contributions are welcome.

[2020-01-20 22:48] #71 closed

[2020-03-09 05:22] estahn opened #75 "Proposal: Switch from Alpine to Distroless"

[2020-03-10 12:58] #53 closed

[2020-03-11 00:25] amitsaha opened #76 "RFE/Question: Using unique worker ID inplace of `pidhash` label"
Hi, thank you for the project. We can see that in https://github.com/hipages/php-fpm_exporter/issues/8, we started using `pid_hash` derived from PID and start time of the process. This will lead to a prometheus metric explosion (as per the caution in https://prometheus.io/docs/practices/naming/#labels). Could we instead use something like a "worker id" as a label instead? That way, we only have a

[2020-03-11 00:28] amitsaha opened #77 "RFE/Question: Using a histogram/summary for `phpfpm_process_request_duration`"
Right now, the above metric is a gauge, which means we cannot do percentile calculations (among others). Was there a reason for this decision?

[2020-03-11 01:14] estahn commented on #76
@amitsaha I agree that could, in theory, lead to a metric explosion. In practice, we don't have enough churn for this to occur.

For this discussion, I assume you refer to the process ID when you say "worker id".

I tried to recall the rationale behind `pid_hash` and I believe this was to avoid worker ID duplicates, e.g. if a pool runs long enough or (more likely) the container being restarted the

[2020-03-11 01:19] estahn commented on #77
@amitsaha I agree with you that a histogram would make more sense.

[2020-03-11 01:57] amitsaha commented on #76
Hi @estahn thanks for getting back on this.

Regarding the worker ID, I meant something like this. Each worker process irrespective of it's process ID is one of the N workers at any given point of time. So, if we assign a worker ID (like, 1, 2...N) to each worker, we can use that as an identifier. Then, we have a stable and a finite set of unique label values. However, as you mention that idea bre

[2020-03-11 05:11] estahn commented on #76
@amitsaha I see what you mean. In this case, how would you determine the number of killed/restarted processes over time? Is there a way to count the counter reset?

[2020-03-13 08:02] estahn commented on #76
@amitsaha After thinking about this a little another question came to mind. Assuming we implement this solution, how would you assign a worker ID (or index)? I see quite a couple of issues with keeping track of these indices, e.g.

- Index 1: Process ID 55
- Index 2: Process ID 70
- Index 3: Process ID 99

If the process "Process ID 70" gets killed and a new process is forked (e.g. Process ID 130)

[2020-03-20 05:40] stanxing opened #81 "why not catch SIGTERM signal?"
First, thanks for your contributions，this project is very perfect. But i hava a issue why SIGTERM signal are not captured in the code?

Int fact, in many management tools，they will send SIGTERM signal  to notify process to shutdown, such as `docker stop` or  `kubectl delete pod` and so on.

Can SIGTERM signal processing be add? I will be willing to submit a PR.

https://github.com/hipages/php-fpm_

[2020-03-20 11:29] estahn commented on #81
@stanxing Do you have any particular issues with the current behaviour of `php-fpm_exporter`? We're running `php-fpm_exporter` in our Kubernetes cluster and had no issues with signal handling.

Example:
[code]
[code]
[code]

[2020-03-20 11:42] stanxing commented on #81
Sure，the process will be terminated because of panic. This is default behavior to recive SIGTERM signal in golang. I think it should be gracefully shutdown when reciving SIGTERM

[2020-03-20 12:08] estahn commented on #81
@stanxing I see. If you could contribute a pull request with the required changes that would be welcome.

[2020-03-20 15:03] stanxing commented on #81
@estahn pull request linked

[2020-03-20 15:37] stanxing opened #83 "feature: should support option to disable go_collector mertics and disable phpfpm process metrics"
Sorry for writing a issue again...

- First:

When I run the program and visit /metrics, I found they includes many `go_collector` metrics. This has nothing to do with php_fpm and can not be disabled. Mybe someone think  it is helpful to debug exporter self. But I feel they are noise and take up a lot of space. So may be should have a flag to control  whether this behavior is enabled.

[code]
- Se

[2020-03-21 00:06] estahn commented on #83
@stanxing Can you please create 2 separate issues and I will respond individually.

[2020-03-21 03:05] stanxing commented on #83
Should indeed, closing the issue...

[2020-03-21 03:07] stanxing opened #84 "feature: add option to control whether scraping go_collector mertics is disabled"
When I run the program and visit /metrics, I found they includes many `go_collector` metrics. This has nothing to do with php_fpm and can not be disabled. Mybe someone think  it is helpful to debug exporter self. But I feel they are noise and take up a lot of space. So may be should have a flag to control  whether this behavior is enabled.

[code]

[2020-03-21 03:08] stanxing opened #85 "feature: add an option to control whether collecting phpfpm process state metrics"
The exporter expose phpfpm every process metrics in detail. But I think each container will produce very many processes a day. So even if this information is collected, it cannot be displayed in detail in the dashboard. I don't think these make sense. May be should have an option to disable to scrape process state. For example, this is my config for phpfpm pool:

[code]
The number of processes wil

[2020-03-21 03:09] #83 closed

[2020-03-21 11:22] estahn commented on #84
After some research, there seems to be a consensus that this is useful. I would accept a PR for this.

I suggest naming the parameter `web.disable-exporter-metrics` to keep the same standard used in `node-exporter`.

[code]

**References:**
* https://github.com/prometheus/node_exporter/pull/1148

[2020-03-21 11:32] estahn commented on #81
This has been released: https://github.com/hipages/php-fpm_exporter/releases/tag/v1.1.1

[2020-03-21 11:32] #81 closed

[2020-03-21 11:47] estahn commented on #85
If I recall correctly the Grafana dashboard we're providing as part of this project does use these metrics. However, I'm accepting a PR for this. As an alternative you can always use Prometheus to drop metrics:

- https://www.robustperception.io/dropping-metrics-at-scrape-time-with-prometheus

In regards to your PHP-FPM configuration, I'd suggest running some tests with `static` instead of `dynami

[2020-03-21 13:06] stanxing commented on #85
As your assumption, our services are running on k8s. The reason for choosing `dynamic` is I think `HPA` can't respond quickly when a lot of traffic is coming. Also we enabled `HPA` with cpu and custom metric named `phpfpm_active_processes`

[2020-03-23 03:09] stanxing commented on #84
@estahn PR linked

[2020-03-27 23:38] #68 closed

[2020-03-31 05:59] jurgenweber commented on #33
how did you go with that dashboard @rdglinux ?

[2020-04-05 10:22] matejzero commented on #85
I have problems with VictoriaMetrics because of `pid_hash`, which sometimes disappears and then reappear again later. Because of that, VM's stallness algorithm  wrongfully interprets the values (Vm doesn't have support for Prometheus stallness marker.

My graphs for php-fpm in VM (static with max workers set to 400):
![Screenshot 2020-04-03 at 16 54 47](https://user-images.githubusercontent.com/46

[2020-04-07 02:16] estahn commented on #85
@matejzero I think `phpfpm_process_state_count` sounds like a good compromise.

[2020-04-07 07:17] matejzero commented on #85
It should also be a lot quicker then the current metrics. It takes a few seconds in my case to render the `# of processes by state`.

[2020-04-10 14:49] J5lx opened #93 "Unable to use configuration file"
I spied in the help output of the program that it seems to support a configuration file. So I tried to set phpfpm.scrape-uri through this configuration file (both in the default location ~/.php-fpm_exporter.yaml and in a custom location via `--config`), however in the end I was unable to pass the configuration to the exporter that way, even though the file does seem to be *found* (output: “Using c

[2020-04-10 22:08] estahn commented on #93
@J5lx Great question. To be frank I have not tested the config file part and just assumed cobra (the library we use) is dealing with it.

I will investigate this and document the use.

[2020-05-16 10:19] #75 closed

[2020-05-16 19:33] erfansahaf opened #97 "Using http protocol instead of tcp"
First of all, thanks for your time and for developing this exporter for the open-source community.

I wish to use `php-fpm_exporter` alongside my `application` container by a docker-compose file. My PHP pool status is accessible by `http://application/status` page, but the exporter can not pull the metrics from this endpoint. The request to the mentioned endpoint will be proxied by Nginx to the fa

[2020-05-17 02:19] #77 closed

[2020-05-18 10:56] categoryshell commented on #93
Could you update the README.md accordingly? Suppling CLI arguments don't work anymore, and an updated description on how to configure this might be needed :)

[2020-05-20 05:18] #76 closed

[2020-05-22 18:29] tiagoIW opened #98 "Two pools in the same php-fpm socket"
Hello, how are you ?

Is there anyway to get metrics about two or more pools that are running in the same php-fpm socket ?

I'm running like this:

./php-fpm_exporter server --phpfpm.scrape-uri 'unix:///var/run/php/php7.1-fpm-cliente-magento.sock;/status' --phpfpm.fix-process-count

I've setup two pools in this socket, but I'm getting metrics just about one pool.

Thanks.

[2020-05-24 20:41] vasekboch commented on #97
You should be connecting directly to the fpm ```PHP_FPM_SCRAPE_URI=tcp://application:9000/status```

[2020-05-30 07:03] #84 closed

[2020-05-30 12:22] erfansahaf commented on #97
@vasekboch When I try to use the `TCP` protocol as `PHP_FPM_SCRAPE_URI=tcp://application:9000/status`, it just doesn't work. It shows no error in logs, but the fail metric is always one (instead of being zero).

[2020-06-05 10:03] pampy commented on #30
Just in case someone finds this bug report by googling like me, I found the solution in a different ticket:
You need to put the URI in quotes like this:
`php-fpm_exporter get --phpfpm.scrape-uri 'unix:/var/run/php/php7.2-fpm.sock;/status'`

[2020-06-08 08:25] estahn commented on #97
@erfansahaf As @vasekboch already pointed out correctly you should connect `php-fpm_exporter` directly to PHP-FPM. You can find `docker-compose` examples here in the [test](https://github.com/hipages/php-fpm_exporter/blob/master/test/docker-compose-local.yml) directory.

My guess is that application is not exposing the port.

[2020-06-12 11:11] ebuildy commented on #46
@shipilovds how is your "php-fpm.conf" configured?

[2020-06-13 08:19] #85 closed

[2020-06-22 19:21] dependabot-preview[bot] opened #102 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/hipages/update-logs/37621534).

[2020-06-23 19:31] #102 closed

[2020-07-28 17:57] andresterba opened #104 "Kubernetes example and Grafana dashboard"
First of all, thanks for the exporter :tada:
It works perfect in my setup!

As there is currently no documentation how to get started within k8s I have created [a simple example](https://github.com/andresterba/k8s-php-exporter).

I have also adjusted the Grafana dashboard a bit as some parts did not work (some queries used `container_name` instead of `container`).
I am not so sure if this is speci

[2020-07-28 23:39] estahn commented on #104
@andresterba I was meant to create some documentation on how to run it in Kubernetes but never came around it. So great effort!

The Grafana dashboard as published was too tightly coupled to our internal labels. Cleaning it up and putting it into the repository would be helpful for many I believe.

I'm accepting pull requests.

[2020-08-01 08:52] #98 closed

[2020-08-11 04:26] estahn commented on #97
@erfansahaf Apologies, I haven't seen your comment in my notifications. We had some customisations around NewRelic and things to make it easier to work with.

You don't need to expose the port to the outside world.

[2020-08-19 09:32] erfansahaf commented on #97
Thanks for your response. My problem solved in another way and I didn't use this exporter.
Closing it.

[2020-08-19 09:32] #97 closed

[2020-08-25 20:42] webframp commented on #104
Would greatly appreciate this too. Doing some early testing now and trying to sort out what further customization I'll need to do to the grafana dashboard. The "dependencies on internal branch deployment" are a bit unclear.

[2020-08-26 08:03] andresterba commented on #104
I've created this PR https://github.com/hipages/php-fpm_exporter/pull/106 with a more generic dashboard.
For now it provides only a namespace filter.

[2020-08-31 19:16] bussnet commented on #46
For me the `Access Denied` comes from a non-standard `pm.status_path` setting in the pool conf:

`pm.status_path = /php5/status`

So I need to add this path instead of `/status` to the uri.
Seems so easy and clear... afterwards 🤦

[2020-09-20 07:28] J5lx commented on #93
I would still like to see this bug fixed.

[2020-09-23 08:47] phutoan31299 opened #108 "Exporter scrape failed"
Hello, I'm having a problem\
Exporter doesn't get the metrics (Scrape failed). I think the reason is my config doesn't fit with my server
I created file config in order to convenient for set up
[code]
After running exporter, exporter doesnt get the data, Pool is empty
[code]
I doubt about variables PHP_FPM_SCRAPE_URI was set up wrong, not fit vs system. (I get FastCGI address in file php-fpm.conf)

[2020-09-25 07:55] phutoan31299 commented on #108
@estahn  Can u help me plz :(  Thanks a lot

[2020-09-28 02:31] phutoan31299 commented on #108
:(

[2020-09-28 07:12] phutoan31299 commented on #108
(Update)
I still cant fix the problem
[code]

[2020-09-28 09:22] phutoan31299 commented on #108
My problem is enable pm.status_path in file config PHP-FPM. I have done my work. Tks a lot <3

[2020-09-28 09:22] #108 closed

[2020-09-28 20:41] absolutejam opened #110 "High cardinality from `pid_hash` label"
Hi 👋

Thanks for sharing this exporter, I really appreciate the insight it's given us.

I just wanted to create an issue because I've noticed that the default setup will add the `pid_hash` label. In our setup where we have 5 replicas of an application with a fixed 128 process count, that leads to 640 series. And when we redeploy every few hours... that's a cardinality explosion waiting to happen!

[2020-09-28 23:40] estahn commented on #110
@absolutejam Glad the exporter is working for you. In regards to `pid_hash` you can find a discussion here #76.

If you have a solution in mind I'm open to contributions.

[2020-09-28 23:41] estahn commented on #108
@phutoan31299 Apologies it has taken me so long to respond. I'm glad you could resolve your issue. 👍

[2020-09-29 13:03] absolutejam commented on #110
Personally, I'm not sure how much we value the visibility into seeing each process individually (at least, via. some kind of name). Maybe process lifetime or process restarts would be a better indicator, but I can't attest to what others would use this for.

Really, I'd just advocate for either having this enabled via. a flag or make it abundantly clear in the docs about the potential risks in cer

[2020-10-12 11:59] matejzero commented on #110
Another similar issue was opened here: https://github.com/hipages/php-fpm_exporter/issues/85.

In my case I have 100k unique label values for `pid_hash` label. Multiply that with 5 metrics that have `pid_hash` label and a few state values for `phpfpm_process_state` adds up to a very high value.

[2020-10-13 17:02] matejzero commented on #110
I'm trying to come out with a solution for current `pid_hash`, but I don't think there is a good solution that would not explode in labels names.

One solution is to use array id. I know that has it's down sides as all threads change IDs if ie. first thread gets killed / restarted.

Another option could be to build PID:ID mapping, but that is more work as we need to figure out which PIDs still exi

[2020-10-19 07:38] phutoan31299 opened #113 "max_children_reached always 1"
Hello, firstly, i want to say thank you for a amazing exporter
and then i want to show u my problem and please help me.
Why max_children_reach always is 1 since turn on exporter, this number don't increase although the process is reached max_children (pm.max_children = 4) many times (# active processes = 4 and request per process always running with 4 process)?
Can u explain for me cause maybe i u

[2020-11-02 10:39] L3o-pold opened #114 "Update go version build to pickup patch for linux kernel bugs in go 1.14.0"
## Describe the bug

Seems that php-fmp-exporter is built with go 1.14.0, we should update to 1.14.6

Relevant stack trace:

[code]

Root cause: https://bugzilla.kernel.org/show_bug.cgi?id=205663
Affected Linux kernels: 5.2.x, 5.3.0-5.3.14, 5.4.0-5.4.1
Fixed Linux kernel 5.3.15 released at 2019-12-05: https://lwn.net/Articles/806395/
Fixed Linux kernel 5.4.2 released at 2019-12-05: https://lwn.net

[2020-11-02 12:18] #114 closed

[2020-11-02 12:41] L3o-pold commented on #114
@estahn can you make a tag please?

[2020-11-02 13:55] estahn commented on #114
@L3o-pold Apologies, the release pipeline failed. This is now available as [1.2.1](https://github.com/hipages/php-fpm_exporter/releases/tag/v1.2.1).

[2020-11-17 13:11] matejzero opened #123 "Return all combinations for phpfpm_process_state metric"
At the moment, the `phpfpm_process_state` only exports the metric for the currently active state. That works OK in Prometheus, but has problems with VictoriaMetrics, which expects all metrics to be exported all the time.

Prometheus on missing metrics:

A good case is also presented by [SuperQue](https://github.com/google/mtail/issues/180#issuecomment-515003514).

This is easy with php-fpm, as we

[2020-11-19 10:09] itcsoft54 commented on #110
Replace `pid_hash` by `slot`.  `slot` means process number of total process :

Exemple slot 5 process, is the 5th process of a total of 10.

I look to php_fpm status, it seem to display process in pool always in same order, replacing old process by new, filling the holes :

`pool:                 www
process manager:      dynamic
start time:           03/Nov/2020:03:52:34 +0100
start since:

[2020-11-19 13:35] matejzero commented on #110
Slot is probably better label than id.

For slot number, we could use array id from https://github.com/hipages/php-fpm_exporter/blob/master/phpfpm/exporter.go#L214, right? Maybe add a +1, so it starts with 1 and not 0 and better match with `pm.max_processes` value.

[2020-11-19 14:29] olivierHa commented on #110
Nice idea @itcsoft54
Slot number should solve the cardinality explosion with "pid_hash"

[2020-11-20 09:30] estahn commented on #110
@itcsoft54 Thanks for your contribution.

[2020-11-20 11:40] itcsoft54 commented on #110
@estahn

1. I add a new commit to rename shot to child

2. I don't know, but using "label" to this is a bad idea too. Label was associed to a metric, so if processes was spawn between to "scrap" we miss it.
Exemple : if process was respawn 5 time between two scraps, you registred 1 label value, and miss 4 "restart/kill" process.

So metrics based on label has low reliability. If php-fpm doesn't ex

[2020-11-20 12:35] matejzero commented on #110
Do we need `child` prefix in child label? Wouldn't it be enough to only have a number ie. `child="0"` or maybe `child_num`?

Valid point about `sum of phpfpm_process_requests` to calculate number of requests. It works in a lot of cases, but it might not be 100% correct in cases you pointed out.

Regarding [process aggregates](https://github.com/hipages/php-fpm_exporter/issues/85#issuecomment-60939

[2020-11-20 13:13] estahn commented on #110
@itcsoft54

Thanks, I agree with @matejzero, use the index, or is there a need for a prefix?

I understand where you are coming from but I don't fully agree with your argument. I assume if you say "reliability" you mean "accuracy". We don't require 100% accuracy as long as there is statistical relevance.

https://prometheus.io/docs/introduction/overview/#when-does-it-not-fit

`phpfpm_process_reque

[2020-11-20 13:59] itcsoft54 commented on #110
Ok, "reliability" may be a pretty loaded word for this case.

I re-read, some exemples of label in prometheus documentation's :

So we don't need to prefix label.

I add commit to use index as label "child" value.

[2020-11-21 11:14] #110 closed

[2020-11-21 12:22] matejzero commented on #113
This is by design. `max_children_reach` is collected from php-fpm status, where it only reports if max was reached since php-fpm started and not how many times is was reached. It's a boolean value.

[2020-11-21 12:24] matejzero commented on #123
Now that https://github.com/hipages/php-fpm_exporter/pull/124 is merged, would you accept a PR for this issue?

This is something we need in order to be able to use php-fpm with VictoriaMetrics.

[2020-11-22 00:17] estahn commented on #123
@matejzero Yes, would be great if you can work on this. Otherwise, I may have a look over the coming week.

[2020-11-22 01:05] estahn commented on #113
@matejzero, As far as I know, php-fpm should report the number of times a pool reached max children.

I have documented here, but are you saying this is not the case?
[code]

See: https://github.com/php/php-src/blob/44c7128fb726696a7c23ff694d1077cf0cf435d4/sapi/fpm/fpm/fpm_scoreboard.c#L144

[2020-11-22 18:58] matejzero commented on #123
My idea was to simply add a struct to [exporter.go](https://github.com/hipages/php-fpm_exporter/blob/master/phpfpm/exporter.go#L214) and raise the number based on state value. After that, iterate over struct keys and yield all metrics.

But since we already have all possible process states in [php-fpm.go](https://github.com/hipages/php-fpm_exporter/blob/master/phpfpm/phpfpm.go#L31), we could work

[2020-11-23 01:18] estahn commented on #113
@phutoan31299 Can you share your PHP-FPM pool config?

[2020-11-23 01:34] phutoan31299 commented on #113
[code]

[2020-11-23 02:12] estahn commented on #123
@matejzero I suggest counting the values within the loop you linked above and then add then below that loop. There is already a function doing the counting: [CountProcessState](https://github.com/hipages/php-fpm_exporter/blame/1181deb197819a570e295890ec817b5823e37a27/phpfpm/exporter.go#L190)

Can you provide some examples? The exporter should export all states already: https://github.com/hipages/p

[2020-11-23 07:33] matejzero commented on #123
I pushed an initial implementation.

Yes, I would like to see all states for all childs in the output. That way all metrics are exposed all the time which enables some calculations that depend on having those metrics available as makes VictoriaMetrics draw correct graphs as it doesn't have stallness markers like Prometheus.

[2020-11-23 22:52] estahn commented on #123
@matejzero Thanks, I will have a look later today. Do you mind if I'm changing it to be more inline with how I would implement it?

[2020-11-24 08:04] matejzero commented on #123
Please, be my guest!

[2021-01-08 08:11] matejzero commented on #123
Is there any news regarding this issue? Thanks

[2021-01-28 16:24] perriea commented on #104
Any news ?

[2021-01-29 07:24] phutoan31299 opened #131 "What difference between Running Process and Active Process"
In metrics "phpfpm_process_state", I have seen the state "Running" but I wonder that what different between among running process, active process and finishing process?

[2021-02-03 06:18] sungaohui opened #132 "Error during shutdowncontext deadline exceeded"
docker run -d --name fpm-exporter-01 -p 9253:9252 hipages/php-fpm_exporter:v2.0.1,when kill, exit code 1, logs is 'time="2021-02-03T03:44:55Z" level=fatal msg="Error during shutdowncontext deadline exceeded"'

[2021-02-23 15:38] tpoindessous opened #133 "Add a Grafana dashboard, for VM"
Hi !

We use your exporter but on VM, not K8S.

It would be nice to have a supported Grafana Dashboard, for VM usage.

I made one from your dashboard, I will send to you.

Thanks !

[2021-03-03 08:58] danielocallaghan opened #136 "Update Alpine Base image to 3.13"
Hello,
My team at Personio have been tracking down CVEs recently and many of them have now been fixed upstream in the latest version of Alpine 3.13.
However we are still seeing vulnerabilities stemming from our usage of `hipages/php-fpm_exporter` since the latest version of this image (`2.0.1`) still runs alpine `3.12`.

I believe all we need todo is bump the version number, I've gone ahead and cr

[2021-03-03 10:52] stchr opened #137 "FPM_REQUEST_INFO changed in PHP 7.4"
FPM_REQUEST_INFO changed from `Getting request informations` to `Getting request information` in PHP 7.4

See `[FPM_REQUEST_INFO] = "Getting request information"`, in https://github.com/php/php-src/blob/07fa13088e1349f4b5a044faeee57f2b34f6b6e4/sapi/fpm/fpm/fpm_request.c#L27

In PHP >= 7.4 you can get error messages like "Unknown process state 'Getting request information'" in php-fpm_exporter.
And

[2021-03-19 09:32] abrarcv170 opened #138 "phpfpm_listen_queue is always zero"
php-fpm_listen_queue is always zero,iam faced a situation in which some php-fpm processes queued,but the exporter displayed
zero    php-fpm process request queued.

[2021-04-21 23:30] estahn commented on #138
@abrarcv170 @bagsa Are you able to describe your setup, e.g. Apache, Nginx, PHP mod or PHP-FPM etc, also what version.

I found this, which might be related: https://bugs.php.net/bug.php?id=80739

It's working fine for us:
![image](https://user-images.githubusercontent.com/362174/115634609-4deb2f00-a34d-11eb-9b82-e4952663e77d.png)

[2021-05-05 21:58] blkperl commented on #136
Now that the change is merged can we have a release cut please?

[2021-05-06 01:29] TestsLing commented on #137
It makes php-fpm_exporter not work

[2021-05-10 07:29] #132 closed

[2021-05-10 11:11] #137 closed

[2021-05-12 09:57] joostdebruijn commented on #133
@tpoindessous Would you mind sharing it with me/here in this issue? Or maybe publish it to the Grafana Dashboards site?

[2021-05-13 23:41] blkperl commented on #138
@estahn We're hitting the same issue and it definitely looks related to the php bug you linked. What version of PHP do you have it working on and which process manager are you using? I've tested on php73 and php74. I tried changing `listen.backlog` to other values but it still shows up as 0.

[code]

[2021-05-13 23:48] estahn commented on #138
@blkperl
[code]

[2021-05-22 15:24] ossinkine commented on #132
Why this was closed if it still is not fixed?

[2021-05-24 13:42] abrarcv170 commented on #138
@estahn nginx,php-fpm (php version 7.4)

[2021-05-25 07:11] TestsLing opened #151 "Unable to get php-fpm7.4.16 information"
## env

- docker Engine v20.10.5
- php:7.4.16-fpm
- php-fpm-exporter:latest

## php-fpm-exporter log

[code]

[2021-05-27 23:11] Spittal commented on #132
I too am getting this issue.

[2021-05-28 03:56] lazychanger opened #153 "Maybe it can support prometheus pushgateway"
Maybe it can support prometheus pushgateway

[2021-05-28 03:59] estahn commented on #153
@lazychanger Can you provide more details on this?

[2021-05-28 05:57] lazychanger commented on #153
Yes. look hear [https://github.com/prometheus/pushgateway](url)

Prometheus does not work well in a cluster environment, because the IP address of the host will change at any time. Prometheus Pushgateway can receive the client's actively reported metrics and then wait for prometheus to collect

I'am sorry for my english is not good, some from google translat.

[2021-05-28 06:02] lazychanger commented on #153
[Prometheus PushGateway document](https://prometheus.io/docs/practices/pushing/) AND  [go document](https://pkg.go.dev/github.com/prometheus/client_golang/prometheus/push#Pusher.Push)

[2021-05-28 06:03] lazychanger commented on #153
Prometheus PushGateway document
    The Pushgateway is an intermediary service which allows you to push metrics from jobs which cannot be scraped.

[2021-05-28 06:19] estahn commented on #153
I'm aware of PushGateway. We're using PushGateway for short-lived jobs, such as CronJobs as the scrape interval is too short for Prometheus to gather metrics.

We have been operating Prometheus in a Kubernetes cluster with `php-fpm_exporter` for over 4 years. Prometheus is designed to deal with conditions within a cluster environment, e.g. aggregates such as rate.

If Prometheus is not able to scr

[2021-05-28 06:36] lazychanger commented on #153
I'm sorry I misrepresented what I meant.

Prometheus needs to actively configure the client metrics address, but if my pod is scaled up, the new node cannot be collected because it is not in the Prometheus `targets`.

I think I understand what you mean. The new scaling node is temporary, it will not exist for a long time so that it will not form effective metrics

thank you for your reply.

[2021-05-28 17:04] jadjay opened #155 "Get the (short) PHP version from the socket"
Through all the very pertinent informations this exporter is parsing, it lakes the php-fpm version of the pool,

It may be obvious on smalls sets, but with thousands of websites it could be handy to get easily what version works on what servers.

Example :
[code]
or :
[code]

Thank you for considering my request,

Regards,

[2021-05-29 02:34] estahn commented on #153
You want to look at Prometheus service discovery, or discovery of scrape targets. See https://prometheus.io/docs/prometheus/latest/configuration/configuration/#kubernetes_sd_config

I haven't looked at this for quite a while. We are using Prometheus-operator which comes with CRDs such as `ServiceMonitor`, abstracting the configuration away.

Hope this helps.

[2021-05-29 02:42] lazychanger commented on #153
Thank you, I will read this document carefully

[2021-06-04 23:22] glennpratt commented on #138
@estahn is your php-fpm listening on TCP/IP or Unix Domain Socket?

[2021-06-05 00:34] estahn commented on #138
You can configure either, see README:

[2021-06-05 05:01] glennpratt commented on #138
@estahn I understand. I'm asking in relation to this issue and the php-fpm bug linked. It may be that the queue stats are only available when using TCP.

[2021-06-06 02:13] baer95 commented on #136
As per https://github.com/hipages/php-fpm_exporter/pull/135#issuecomment-836657354 the change should be available in 2.0.2, so this ticket can be closed?

[2021-06-11 06:16] matejzero commented on #123
This would still be nice to implement. I'm using a custom fork from https://github.com/hipages/php-fpm_exporter/pull/128 to achieve this, but @estahn wanted a better implementation, which I'm not able to provide as I'm no coder:/

[2021-06-18 11:52] szokeptr opened #160 "How to handle timeout errors"
First of all, thank you for this project, it really helped us during our migration to Kubernetes.

We are running our API in a container based on `php:7.3-fpm-alpine` and having Prometheus pull FPM metrics through this container (`hipages/php-fpm_exporter:1`). We have an HPA for this deployment that uses the `phpfpm_active_processes` metric to scale (pm is set to static).

Yesterday we had a huge

[2021-06-18 14:03] estahn commented on #160
@szokeptr We had similar issues and ended up having enough headroom to scale before reaching 100%.

The problem is PHP-FPM doesn't have a dedicated thread for returning metrics (`/status`). It's all in the same queue with regular requests. A large backlog will therefore take longer than the currently configured timeout in php-fpm_exporter.

We could make the timeout configurable (see https://githu

[2021-06-18 14:14] szokeptr commented on #160
@estahn I think making the timeout configurable would help, since the issue is solved if the deployment could scale up.
For now we'll probably use some other metric for scaling to avoid this issue.

Anyways, thanks for the quick reply!

[2021-06-26 03:03] #113 closed

[2021-06-26 03:03] #104 closed

[2021-06-26 03:03] #131 closed

[2021-06-26 09:47] estahn commented on #131
@phutoan31299 Apologies, I have missed your issue.

I'm not quite sure about your question, so just let me know if I misunderstand. Just to clarify, do you mean you have seen `phpfpm_process_state` with a value `active`?

* `phpfpm_process_state` shows the state a process is in. The state can be one of these values: https://github.com/hipages/php-fpm_exporter/blob/4d2aa1a2afd3c11c9cf8ac6bde2fb4292

[2021-07-08 07:52] mingalevme commented on #84
@estahn Why PR hasn't been merged?

[2021-07-08 08:40] mingalevme commented on #84
If someone needs the original repo with the PR:

https://gist.github.com/mingalevme/28642bf1160a760f024d5155259d32a4

[2021-08-26 15:36] northerngit opened #171 "Supply .tar.gz release archives"
Hi,

Would there be any objection to providing .tar.gz archives in lieu of, or alongside the binary releases?  This would make it easier for us to incorporate into an existing CI pipeline for building RPMs; without requiring unique templates.  For example:

`.goreleaser.yml`
[code]

Thanks!

[2021-08-27 01:14] #171 closed, assigned to nobody

[2021-09-03 20:53] blkperl opened #175 "Add ability to allow or disable specific metrics"
Would there be any interest in new configuration that allows the users to choose which metrics are sent by the exporter? I can submit a pull request.

In my use case we have thousands of pods running php-fpm and we have exceeded our quota for metrics so we want to restrict the metrics sent to the ones that are needed.

I would also be interested in #84 being completed.

[2021-09-07 16:46] blkperl commented on #175
I've learned that prometheus filtering has an `action: drop` that can be used to accomplish the same thing.

[2021-09-07 16:46] #175 closed

[2021-09-07 21:59] garretcoffman opened #176 "User specifications for socket configuration"
I was trying to run the exporter as a systemd process which runs the binary as root unless otherwise specified and found that it needed to be running as www-data in order to connect to the socket.

Here is the .service file I created for the process:

[code]

You may want to note this in the documentation.  You also may want to include the need to uncomment or add `pm.status_path = /status`  to  `

[2021-09-08 22:51] itcsoft54 commented on #176
User that run php-fpm process and/or own php-fpm depend of various parameters. All are already documented in php documentation.
The socket is own by user and that run process, www-data in debian or ubuntu by default. But can be set to another user.

Listen parameters (listen.* flag or value) define acl or classic Unix perm on socket unix or network socket (with no user or group on network socket),

[2021-09-08 23:02] estahn commented on #175
@blkperl I think it's a good suggestion and at times more trivial compared to adjusting the scrape config. But yes Prometheus allows dropping of metrics during scraping: https://www.robustperception.io/dropping-metrics-at-scrape-time-with-prometheus

[2021-09-17 15:16] acmodeu commented on #133
@tpoindessous I'm also interested in non-kubernetes dashboard!

[2021-10-01 06:16] bgdnlp opened #177 "can't connect to unix socket on FreeBSD"
I'm not sure if FreeBSD is event supported, but `go build` worked, and since MacOS is supported I thought it might work on FreeBSD too. However, I get access denied even though it doesn't seem to be a permissions issue:

[code]

PHP pool config has:
[code]

And the socket itself is:
[code]

I tried changing socket mode to 666, I tried running as root, same thing. But I noticed that when I run the

[2021-11-01 22:16] itcsoft54 commented on #155
php-fpm is base on php-fpm status page, from source code (https://github.com/php/php-src/blob/master/sapi/fpm/fpm/fpm_status.c), they have no "php version" field.

[2021-11-01 23:59] jadjay commented on #155
Aw 😭

[2021-11-04 14:45] BrianKopp opened #186 "libcrypto and libssl CVEs"
The latest docker image (2.0.3) currently contains Critical and High CVEs (CVE-2021-3711) and (CVE-2021-3712) in libcrypto and libssl. These should be fixed in the latest version of the base image alpine.

https://nvd.nist.gov/vuln/detail/CVE-2021-3711

https://nvd.nist.gov/vuln/detail/CVE-2021-3712

[2021-11-04 20:29] estahn commented on #186
@BrianKopp Thanks for reporting this.

[2021-11-04 21:25] estahn commented on #186
@BrianKopp This should be fixed in https://github.com/hipages/php-fpm_exporter/releases/tag/v2.0.4

[2021-11-04 21:25] #186 closed

[2021-11-08 09:41] Hello-Linux opened #188 "What is the time unit of this configuration phpfpm_process_request_duration?"
What is the time unit of this configuration phpfpm_process_request_duration?

[2021-11-09 00:41] #188 closed

[2021-11-19 09:06] LcLz0 commented on #93
How is this going? I see pr #154 addresses this issue, but is not reviewd yet?

[2021-11-30 00:25] b-a-t commented on #133
I was wondering, what is wrong with Grafana dashboard. Indeed it's aimed for K8S only. So, if you have created a dashboard for regular setup, with instances(hosts) and, possibly, multiple pools on one instance it'll be great to see it.

[2022-01-03 15:49] philipp-hb opened #199 "alternative docker registry"
more and more companies are moving away from docker hub due to the new licensing.
Is there another docker registry where one can download your images? If not, I'd suggest to provide one

[2022-01-18 12:20] jonathanribas commented on #69
Hi @estahn,
1/Are you still running php-fpm_exporter as a sidecar?
Any chance to run it separately?

2/ What CPU And memory ressources do you recommend for php-fpm_exporter?

Thanks in advance for your help!

[2022-01-18 16:41] gmaz42 commented on #151
@stale what type of activity would you like to see?

I am also getting this error, a new state needs to be implemented?

[2022-02-02 13:30] ThorstenEngel opened #203 "docker hub arm image"
Hi there!

Thanks for the greate work and for adding arm64 support. Do you have time to add a docker-hub image for arm as well? This would simplify it a lot for me ;-)

Thank you in advance!

Thorsten

[2022-02-07 07:11] Hello-Linux opened #205 "Questions about phpfpm_process_request_duration"
about the phpfpm_process_request_duration
What exactly does this parameter refer to? Is it the response time of each request in php? Or is it the total duration of each request?

[2022-02-07 19:44] itcsoft54 commented on #205
[code]
From php-fpm conf : https://github.com/php/php-src/blob/83697aa95e1d3eefe7bbc4da5e77d899be091be2/sapi/fpm/www.conf.in#L208

[2022-02-16 12:27] csib opened #207 "Vulnerability in the software - CVE-2020-14040"
Details:
`+-------------------+------------------+----------+-------------------+---------------+---------------------------------------+
|      LIBRARY      | VULNERABILITY ID | SEVERITY | INSTALLED VERSION | FIXED VERSION |                 TITLE                 |
+-------------------+------------------+----------+-------------------+---------------+---------------------------------------+
| gola

[2022-02-16 16:35] kierenevans commented on #207
It looks like https://github.com/hipages/php-fpm_exporter/pull/193 should fix this, though that PR will need a rebase to pick up the github action fixes

[2022-03-08 11:28] xeroxzone commented on #151
Greetings, here with me the error also arises:

[code]

Why this case `PoolProcessRequestInfo74` does not match ['Getting request information'](https://github.com/hipages/php-fpm_exporter/blob/master/phpfpm/phpfpm.go#L234)?

https://github.com/hipages/php-fpm_exporter/blob/master/phpfpm/phpfpm.go#L45

Does anyone know which **process state** case was not mapped in [`CountProcessState`](https://git

[2022-03-19 11:51] cuppett opened #214 "Add: build target to Makefile & builder to Dockerfile"
Looking at this project and wanted to get started. Hoping these couple adds make it easier for newcomers to build the project, experiment or get more consistent container builds.

[2022-03-30 09:23] donalddewulf commented on #214
Any chance we can get this merged?

[2022-03-30 09:39] estahn commented on #214
@cuppett Thanks for your submission. The only concern would be if this breaks the release process, but I can deal with this down the line. Always good to simplify things.

@donalddewulf Thanks for the nudge. Its being auto-merged once the GitHub action checks are done.

[2022-03-30 11:43] estahn commented on #214
@cuppett Apologies, there was an issue with the CI pipeline not testing the code correctly. I reverted your PR as it breaks the release and image scan actions.

[2022-03-30 21:37] cuppett commented on #214
Sure. What was the issue/error? Anything you want me to resolve?

On Wed, Mar 30, 2022, 7:44 AM Enrico Stahn ***@***.***> wrote:

[2022-03-30 21:47] estahn commented on #214
We're using goreleaser for the release process. The CI step uses `goreleaser release --rm-dist --snapshot` to build an image that can be checked for security vulnerabilities. This step fails with the following error message:

[code]

see https://github.com/hipages/php-fpm_exporter/runs/5752709253?check_suite_focus=true

[2022-03-30 23:36] cuppett commented on #214
Oh, I see what's going on. It already has the binaries built (outside the container) and likely removes the go.mod file. Definitely don't want to build it twice. I can leave the Dockerfile changes out of the PR and just have the tiny Makefile change or create a separate Dockerfile.build where the multi-stage build is to not conflict with the original one but still provide the benefit. Opinions?

[2022-05-02 12:18] sirantd commented on #203
Hi. I was looking for the same. I've built a multi-arch [version](https://hub.docker.com/repository/docker/opsworksco/php-fpm_exporter) for myself and it's working fine. I created this PR which should automate releasing of multi-arch images to docker hub https://github.com/hipages/php-fpm_exporter/pull/226

[2022-05-04 08:28] gocd-matrix commented on #203
This sounds great. Unfortunately docker hub does not seem to have builded the arm image (hipages) yet.

[2022-05-05 02:38] sirantd commented on #203
afaik, it should be available with next tag release, PR has been merged

[2022-05-20 06:40] torbendury commented on #199
Is there anything happening regarding this topic? It's a PITA running into `ImagePullBackOff` issues due to Docker Inc. rate limits.

[2022-05-20 08:57] estahn commented on #199
This is now being pushed to GHCR.

https://github.com/hipages/php-fpm_exporter/pkgs/container/php-fpm_exporter

[2022-05-20 08:57] #199 closed

[2022-05-20 08:59] estahn commented on #203
@ThorstenEngel @sirantd https://github.com/hipages/php-fpm_exporter/pkgs/container/php-fpm_exporter

Is that solving it for you?

[2022-05-20 09:11] sirantd commented on #203
@estahn Yep, I see that docker hub now has both linux/amd64 and linux/arm64

[2022-05-20 09:29] torbendury commented on #199
Hi @estahn and thank you for realizing this!

However it seems the containers are pushed privately:

[code]

[2022-05-20 10:04] estahn commented on #199
Shameless plug: If you experience docker pull issues maybe give this a try https://github.com/estahn/k8s-image-swapper

[2022-05-20 10:18] estahn commented on #199
@torbendury You should have access now.

[2022-05-20 10:34] #203 closed

[2022-05-20 11:54] gocd-matrix commented on #203
Yes! This solves it. Thank you, great!

[2022-05-26 11:59] dmamchyts opened #232 "Why --phpfpm.fix-process-count?"
Hi,
Looks like issue https://bugs.php.net/bug.php?id=76003 already fixed (I haven't checked yet).
You can update README.md and default value

[2022-05-27 08:25] itcsoft54 commented on #232
phpfpm are ne use only with php8.0 or newer. Patch are for php8.0.

In add from version of php 8.1, openmetric are available without additionnal external exporter.

Change default create breaking change for version older than php 8.0

[2022-05-27 08:34] dmamchyts commented on #232
***In add from version of php 8.1, openmetric are available without additionnal external exporter.
What you mean under ```without additionnal external exporter```?

[2022-05-28 01:28] itcsoft54 commented on #232
Php ftpm Status page on which hipages / php-fpm_exporter is based, have new format since php 8.1 :

from php documentation :

[code]

so you juste need to configure `fpm-status` page and to call the php-fpm to have php-fpm metric on openmetrics format :

e.g : `https://localhost/fpm-status?openmetrics&full`

look at https://www.php.net/manual/fr/migration81.new-features.php#migration81.new-feature

[2022-05-28 05:18] dmamchyts commented on #232
thank you very much

[2022-05-28 05:18] #232 closed

[2022-06-06 08:41] zhaozhenxiang commented on #46
[code]
May help.

[2022-07-11 13:53] Anticom opened #243 "[QUESTION] Is `--fix-process-count` flag still needed?"
According to PHP's bug tracker [Issue #76003](https://bugs.php.net/bug.php?id=76003) has been resolved.

Hence the question whether the `--fix-process-count` flag is still necessary to get proper readings from the exporter regarding the active processes.

[2022-07-27 06:53] wirwolf opened #245 "Sometimes splashes CPU usage"
Hello. In my project, i use php-fpm7.4 with this exporter and horizontal pod autoscaler(in Kubernetes) and sometimes I see strange CPU load activity. php-fpm not loaded but monitoring sometimes use too mutch cpu
![image](https://user-images.githubusercontent.com/8457572/181179808-706d3d64-5188-41c0-8934-568396de0a17.png)
![image](https://user-images.githubusercontent.com/8457572/181179877-31322aee

[2022-08-18 07:54] northboys commented on #243
any update?

[2022-09-01 11:56] blodan commented on #245
We noticed this issue too the other day, we reverted back to the 1.2.1 container which does not have this issue

[2022-09-08 08:39] Anticom commented on #243
Ping

[2022-09-08 14:32] sereinity opened #253 "Sometimes the exporter may hang on /metrics indefinitly"
Hello,

First thank you for this great software that help us monitor our stacks.

## Summary

Sometimes fpm-exporter doesn't work well and hang when queriying `/metrics` appearing as an unhealthy target in prometheus.

## Context

We use the exporter as a sidecar on a kubernetes engine.
We have 16 fpm-exporter per environment with the exact same configuration. But some (one or two) of them doesn't

[2022-09-12 15:15] sereinity commented on #253
I enabled debugging while reproducing the issue. But the logs aren't very helpful:

[code]

I got only 12 of these logs on the failing instance, while on a normal fpm-instance I got one of these logs every scrap.

[2022-09-14 19:44] akhomyakov-marfatech opened #254 "status page should be enabled"
Please mention in readme about requirements

The FPM status page must be enabled in every pool you'd like to monitor by defining pm.status_path = /status.

it may seem obvious, but it is not.

[2022-09-19 17:56] cdenneen commented on #3
/label pinned

@estahn this example is still needed.
I have a container with nginx+php-fpm pod and this sidecar.

I've tried to setup a prometheus-adapter to pull in these metrics but I'm assuming you need to expose them somehow?

If I port-forward I can see them so I know they seem to be working:

[code]

[2022-09-29 17:23] cdaguerre opened #256 "phpfpm_process_request_duration should not be a gauge"
According to the [php docs](https://www.php.net/manual/en/fpm.status.php#fpm.status.contents), `phpfpm_process_request_duration` should not be a gauge, it should be a counter.

It states:

| name | description |
|-- | --|
| requests | The total number of requests served. |
| request duration | The total time in seconds spent serving requests. |

To get a gauge you'd have to caculate `request durat

[2022-10-01 08:21] cdaguerre commented on #256
False alert: from looking at the code, it seems the documentation is wrong and request duration is actually the time spent serving the last request.
I'm opened and PR to fix the docs. https://github.com/php/doc-en/pull/1860

[2022-10-01 08:21] #256 closed

[2022-10-17 09:41] Wouter0100 opened #258 "New line in request uri causes error"
For whatever reason, it is possible to have a new line in the request uri from the php fpm page - from which the exporter crashes.

[code]

In one of the requests you see `/api/conversation/v2/selfservice/script/x\n/community/x\`, which results (unescapted) in
[code]

Obviously this request would've returned an error in PHP/Apache, but I'd say the php-fpm exporter at least shouldn't crash on it.

[2022-11-12 22:26] igoooor opened #265 "the exporter uses a lot of CPU"
I am running the latest version phpfpm exporter as a sidecar of my phpfpm 8.1 container. I noticed that my pod had peak CPU usage. When I looked in details, I noticed that it was the exporter that was using such amount of CPU.
Here is a grafana graph of the CPU usage of my pod.
![Kubernetes___Compute_Resources___Pod_-_Grafana](https://user-images.githubusercontent.com/1036285/201496913-3f0b6b2b-8d

[2022-11-15 22:06] igoooor commented on #265
now I'm not really sure if this is a duplicate of #253